################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/connect/Web.config
/connect/Web.Debug.config
/connect/Web.Release.config
